



# Organizar datos

Otra de las fases del proceso de data wrangling consiste en dar una estructura a los datos, normálmente esta fase conlleva las siguientes operaciones:

- Establecer índices, renombrar columnas.

- Ordenar valores.

- Eliminar duplicados

- Filtrar información

- Añadir/eliminar registros y/o columnas.

- Editar información

- Modificar la estructura de los datos



## Establecer índices, renombrar columnas

In [1]:
import pandas as pd
import numpy as np
from collections import OrderedDict
import os



Tomamos como ejemplo de nuevo el dataset de cervezas

In [68]:
beer = pd.read_csv('files/beer_reviews.csv')
beer.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [69]:
len(beer)

1586614



En este caso podríamos querer usar el nombre (Name) como índice de la tabla, lo haríamos mediante el método `set_index()`

In [73]:
beer.set_index('beer_name',inplace=True)
beer.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_abv,beer_beerid
beer_name,,,,,,,,,,,,
Sausa Weizen,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,5.0,47986
Red Moon,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,6.2,48213
Black Horse Black Beer,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,6.5,48215
Sausa Pils,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,5.0,47969
Cauldron DIPA,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,7.7,64883

In [75]:
beer.loc["Sausa Pils", ["review_overall", "review_aroma"]]

review_overall    3
review_aroma      3
Name: Sausa Pils, dtype: object



Podemos volver al índice numérico con `reset_index`

In [79]:
beer.reset_index(inplace = True)

In [80]:
beer

,beer_name,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_abv,beer_beerid
0,Sausa Weizen,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,5.0,47986
1,Red Moon,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,6.2,48213
2,Black Horse Black Beer,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,6.5,48215
3,Sausa Pils,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,5.0,47969
4,Cauldron DIPA,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,7.7,64883
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1586609,The Horseman's Ale,14359,The Defiant Brewing Company,1162684892,5.0,4.0,3.5,maddogruss,Pumpkin Ale,4.0,4.0,5.2,33061
1586610,The Horseman's Ale,14359,The Defiant Brewing Company,1161048566,4.0,5.0,2.5,yelterdow,Pumpkin Ale,2.0,4.0,5.2,33061
1586611,The Horseman's Ale,14359,The Defiant Brewing Company,1160702513,4.5,3.5,3.0,TongoRad,Pumpkin Ale,3.5,4.0,5.2,33061
1586612,The Horseman's Ale,14359,The Defiant Brewing Company,1160023044,4.0,4.5,4.5,dherling,Pumpkin Ale,4.5,4.5,5.2,33061
1586613,The Horseman's Ale,14359,The Defiant Brewing Company,1160005319,5.0,4.5,4.5,cbl2,Pumpkin Ale,4.5,4.5,5.2,33061

In [5]:
beer.reset_index(inplace=True)
beer.head()

,beer_name,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_abv,beer_beerid
0,Sausa Weizen,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,5.0,47986
1,Red Moon,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,6.2,48213
2,Black Horse Black Beer,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,6.5,48215
3,Sausa Pils,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,5.0,47969
4,Cauldron DIPA,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,7.7,64883



Para modificar el nombre de las columnas tenemos estas opciones



Pasar toda la lista de nombres, con la modificación deseada, en este caso cambiar Name a Nombre

In [83]:
beer.columns

Index(['beer_name', 'brewery_id', 'brewery_name', 'review_time',
       'review_overall', 'review_aroma', 'review_appearance',
       'review_profilename', 'beer_style', 'review_palate', 'review_taste',
       'beer_abv', 'beer_beerid'],
      dtype='object')

In [84]:
beer.columns = ['nombre_cerveza', 'id_cervecera', "nombre_cervecera", 'tiempo_resena', 'overall_resena', 'aroma_resena', 'aparencia_resena',
                'perfil_resena','estilo_cerveza', 'duracion_resena', 'sabor_resena', 'alcohol', 'id_cerveza']

print(beer.columns)

Index(['nombre_cerveza', 'id_cervecera', 'nombre_cervecera', 'tiempo_resena',
       'overall_resena', 'aroma_resena', 'aparencia_resena', 'perfil_resena',
       'estilo_cerveza', 'duracion_resena', 'sabor_resena', 'alcohol',
       'id_cerveza'],
      dtype='object')



Pasar un diccionario con las modificaciones

In [85]:
beer.rename(columns= {'duracion_resena' : 'palate_resena'}, inplace=True)
print(beer.columns)

Index(['nombre_cerveza', 'id_cervecera', 'nombre_cervecera', 'tiempo_resena',
       'overall_resena', 'aroma_resena', 'aparencia_resena', 'perfil_resena',
       'estilo_cerveza', 'palate_resena', 'sabor_resena', 'alcohol',
       'id_cerveza'],
      dtype='object')

In [93]:
t = {"bogdan": "milan"}

In [94]:
t["bogdan"]

'milan'

In [95]:
? beer.rename



## Ordenar

Ordenar de forma ascendete/descendente en función de los datos o índices que acabamos de crear, es útil para otras operaciones ya que acelera las búsquedas dentro del dataset



Establecemos el Name como índice de nuevo de cara a los siguientes ejercicios.
Vemos que el índice de la tabla no está ordenado alfabéticamente

In [96]:
beer.set_index('nombre_cerveza',inplace=True)
beer.head()

,id_cervecera,nombre_cervecera,tiempo_resena,overall_resena,aroma_resena,aparencia_resena,perfil_resena,estilo_cerveza,palate_resena,sabor_resena,alcohol,id_cerveza
nombre_cerveza,,,,,,,,,,,,
Sausa Weizen,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,5.0,47986
Red Moon,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,6.2,48213
Black Horse Black Beer,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,6.5,48215
Sausa Pils,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,5.0,47969
Cauldron DIPA,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,7.7,64883



Aplicamos una ordenación por índice

In [100]:
beer.sort_index(inplace = True)
beer.head()

,id_cervecera,nombre_cervecera,tiempo_resena,overall_resena,aroma_resena,aparencia_resena,perfil_resena,estilo_cerveza,palate_resena,sabor_resena,alcohol,id_cerveza
nombre_cerveza,,,,,,,,,,,,
! (Old Ale),10902,Närke Kulturbryggeri AB,1271637765,4.0,4.5,4.0,tpd975,Old Ale,4.0,4.5,8.2,57645
"""100""",13338,The Covey Restaurant & Brewery,1240078389,4.0,3.5,4.0,hiikeeba,Belgian Dark Ale,4.0,4.5,10.0,49236
"""100""",13338,The Covey Restaurant & Brewery,1240357492,4.0,4.0,4.0,hopdog,Belgian Dark Ale,4.5,4.0,10.0,49236
"""100""",13338,The Covey Restaurant & Brewery,1244599785,4.0,4.0,4.0,weeare138,Belgian Dark Ale,4.0,4.5,10.0,49236
"""100""",13338,The Covey Restaurant & Brewery,1264459856,4.0,4.0,4.0,Mora2000,Belgian Dark Ale,4.0,4.5,10.0,49236



Para aplicar el sort en ordern inverso

In [101]:
beer.sort_index(ascending=False).head()

,id_cervecera,nombre_cervecera,tiempo_resena,overall_resena,aroma_resena,aparencia_resena,perfil_resena,estilo_cerveza,palate_resena,sabor_resena,alcohol,id_cerveza
nombre_cerveza,,,,,,,,,,,,
葉山ビール (Hayama Beer),4973,Kamakura Beer Brewing Company,1308836108,4.0,3.0,3.0,snogglethorpe,English Bitter,3.5,4.0,5.5,70327
横須賀ビアサケ (Yokosuka Biasake),4973,Kamakura Beer Brewing Company,1308982472,4.0,3.5,3.0,snogglethorpe,English Bitter,3.5,3.5,5.5,70370
“Chewy” Double IPA,7302,The Bobcat Café & Brewery,1311104066,2.5,2.0,4.0,Kegatron,American IPA,3.5,2.5,6.9,71197
Ω-naught (Omeganaught),26,Three Floyds Brewing Co. & Brewpub,1240847523,4.5,4.5,4.0,mynie,American IPA,4.0,3.5,5.0,49427
Ω-naught (Omeganaught),26,Three Floyds Brewing Co. & Brewpub,1241740953,4.0,4.0,4.0,nrbw23,American IPA,3.5,4.0,5.0,49427



Igualmente podemos ordenar en funcion de los valores de las columnas



Ordenamos por order ascendente de ataque

In [102]:
beer.sort_values(by = 'overall_resena', ascending=False).head()

,id_cervecera,nombre_cervecera,tiempo_resena,overall_resena,aroma_resena,aparencia_resena,perfil_resena,estilo_cerveza,palate_resena,sabor_resena,alcohol,id_cerveza
nombre_cerveza,,,,,,,,,,,,
Racer 5 India Pale Ale,610,Bear Republic Brewing Co.,1192676105,5.0,5.0,5.0,bboven,American IPA,5.0,5.0,7.0,2751
Old #38 Stout,112,North Coast Brewing Co.,1214537028,5.0,5.0,4.0,cggarcia,Irish Dry Stout,4.5,5.0,5.6,408
U Fleku Dark Lager,2805,U Fleků Pivovaru a Restauraci,1151488469,5.0,4.5,5.0,patto1ro,Euro Dark Lager,4.5,4.5,4.5,6614
Raspberry Tart,590,New Glarus Brewing Company,1219108553,5.0,4.0,4.0,treyrab,Fruit / Vegetable Beer,5.0,4.0,4.0,1585
U Fleku Dark Lager,2805,U Fleků Pivovaru a Restauraci,1050325346,5.0,4.5,5.0,ipogios,Euro Dark Lager,5.0,5.0,4.5,6614



Para aplicar un sort sobre varias columnas usando distintos tipos de orden sobre cada una de ellas.

In [104]:
beer.sort_values(by = ['overall_resena','aroma_resena'], ascending=[False,False])

,id_cervecera,nombre_cervecera,tiempo_resena,overall_resena,aroma_resena,aparencia_resena,perfil_resena,estilo_cerveza,palate_resena,sabor_resena,alcohol,id_cerveza
nombre_cerveza,,,,,,,,,,,,
"""Shabadoo"" Black & Tan Ale",33,Berkshire Brewing Company Inc.,1214879987,5.0,5.0,4.5,jcdiflorio,Black & Tan,5.0,5.0,6.3,2369
"""True Blue"" Blueberry Ale",347,Bar Harbor Brewing Company,1206470091,5.0,5.0,4.5,garrettmgruehl,Fruit / Vegetable Beer,4.0,4.0,NaN,30518
#9,96,Magic Hat Brewing Company,1003850825,5.0,5.0,4.0,pbrian,Fruit / Vegetable Beer,4.0,5.0,5.1,299
#9,96,Magic Hat Brewing Company,973015007,5.0,5.0,4.0,BarnacleBill,Fruit / Vegetable Beer,4.0,5.0,5.1,299
#9,96,Magic Hat Brewing Company,1286238394,5.0,5.0,5.0,beehivechaos311,Fruit / Vegetable Beer,5.0,5.0,5.1,299
...,...,...,...,...,...,...,...,...,...,...,...,...
Utah Pale Ale,1413,Desert Edge Brewery,1030266889,0.0,3.0,0.0,beernut7,American Pale Ale (APA),2.0,2.0,4.0,3810
Pub Pils,1413,Desert Edge Brewery,1030197670,0.0,2.0,0.0,beernut7,Czech Pilsener,3.0,2.0,4.0,3806
Red Rock Bavarian Weiss,1412,Red Rock Brewing Company,1030007859,0.0,2.0,0.0,beernut7,Hefeweizen,2.5,2.0,4.0,3788
Red Rock Dunkel Weizen,1412,Red Rock Brewing Company,1030008039,0.0,2.0,0.0,beernut7,Dunkelweizen,2.5,2.0,4.0,3786
Red Rock Pilsner,1412,Red Rock Brewing Company,1030007737,0.0,2.0,0.0,beernut7,German Pilsener,3.0,1.5,4.0,3822



## Eliminar duplicados

Todos dataset son susceptibles de tener registros duplicados, total o parcialmente, lo que según cada caso puede tener sentido o no. Veamos como identificarlos y tratarlos.



Mediante duplicated obtenemos si existe algún registro duplicado, a nivel de todos los campos

In [106]:
beer.duplicated().any()

False



Podemos aplicar ese filtro a un número determinado de campos

In [107]:
print('Are there beers with the same name?','\n')
print(beer.index.duplicated().any(),'\n')
print('Are there several styles of beer?','\n')
print(beer['estilo_cerveza'].duplicated().any(),'\n')

Are there beers with the same name?

True

Are there several styles of beer?

True



Para eliminar los registros duplicados usamos `drop_duplicates`, que requiere el parámetro inplace=True para modificar el dataset original.



En este caso no eliminaríamos ningún registro, ya que acabamos de ver que no hay registros iguales

In [108]:
beer.drop_duplicates()

,id_cervecera,nombre_cervecera,tiempo_resena,overall_resena,aroma_resena,aparencia_resena,perfil_resena,estilo_cerveza,palate_resena,sabor_resena,alcohol,id_cerveza
nombre_cerveza,,,,,,,,,,,,
! (Old Ale),10902,Närke Kulturbryggeri AB,1271637765,4.0,4.5,4.0,tpd975,Old Ale,4.0,4.5,8.2,57645
"""100""",13338,The Covey Restaurant & Brewery,1240078389,4.0,3.5,4.0,hiikeeba,Belgian Dark Ale,4.0,4.5,10.0,49236
"""100""",13338,The Covey Restaurant & Brewery,1240357492,4.0,4.0,4.0,hopdog,Belgian Dark Ale,4.5,4.0,10.0,49236
"""100""",13338,The Covey Restaurant & Brewery,1244599785,4.0,4.0,4.0,weeare138,Belgian Dark Ale,4.0,4.5,10.0,49236
"""100""",13338,The Covey Restaurant & Brewery,1264459856,4.0,4.0,4.0,Mora2000,Belgian Dark Ale,4.0,4.5,10.0,49236
...,...,...,...,...,...,...,...,...,...,...,...,...
Ω-naught (Omeganaught),26,Three Floyds Brewing Co. & Brewpub,1241740953,4.0,4.0,4.0,nrbw23,American IPA,3.5,4.0,5.0,49427
Ω-naught (Omeganaught),26,Three Floyds Brewing Co. & Brewpub,1240847523,4.5,4.5,4.0,mynie,American IPA,4.0,3.5,5.0,49427
“Chewy” Double IPA,7302,The Bobcat Café & Brewery,1311104066,2.5,2.0,4.0,Kegatron,American IPA,3.5,2.5,6.9,71197
横須賀ビアサケ (Yokosuka Biasake),4973,Kamakura Beer Brewing Company,1308982472,4.0,3.5,3.0,snogglethorpe,English Bitter,3.5,3.5,5.5,70370
葉山ビール (Hayama Beer),4973,Kamakura Beer Brewing Company,1308836108,4.0,3.0,3.0,snogglethorpe,English Bitter,3.5,4.0,5.5,70327



Si aplicamos el filtro únicamente a la columna Type 1 si que encontramos duplicados, que eliminaremos,
quedándonos únicamente con la primera ocurrencia.

In [109]:
beer.drop_duplicates(subset=['perfil_resena'], keep='first')

,id_cervecera,nombre_cervecera,tiempo_resena,overall_resena,aroma_resena,aparencia_resena,perfil_resena,estilo_cerveza,palate_resena,sabor_resena,alcohol,id_cerveza
nombre_cerveza,,,,,,,,,,,,
! (Old Ale),10902,Närke Kulturbryggeri AB,1271637765,4.0,4.5,4.0,tpd975,Old Ale,4.0,4.5,8.2,57645
"""100""",13338,The Covey Restaurant & Brewery,1240078389,4.0,3.5,4.0,hiikeeba,Belgian Dark Ale,4.0,4.5,10.0,49236
"""100""",13338,The Covey Restaurant & Brewery,1240357492,4.0,4.0,4.0,hopdog,Belgian Dark Ale,4.5,4.0,10.0,49236
"""100""",13338,The Covey Restaurant & Brewery,1244599785,4.0,4.0,4.0,weeare138,Belgian Dark Ale,4.0,4.5,10.0,49236
"""100""",13338,The Covey Restaurant & Brewery,1264459856,4.0,4.0,4.0,Mora2000,Belgian Dark Ale,4.0,4.5,10.0,49236
...,...,...,...,...,...,...,...,...,...,...,...,...
Éphémère (Cassis / Black Currant),22,Unibroue,1311551438,5.0,4.0,5.0,georgette,Fruit / Vegetable Beer,5.0,5.0,5.5,14733
Érable Rouge,771,Ferme Brasserie Schoune,1316371731,2.0,2.0,3.0,crankset,American Amber / Red Ale,2.0,1.5,5.0,45284
Ølfabrikken Brown Ale,11063,Ølfabrikken,1171318551,4.0,4.0,4.0,anchr,American Brown Ale,3.0,4.5,5.5,23678
Ølfabrikken Kloster Jul,11063,Ølfabrikken,1226972196,4.5,4.0,4.5,beeraroundtown,Belgian Strong Dark Ale,4.5,4.5,9.5,45858
ÜberSun (Imperial Summer Wheat Beer),3818,Southern Tier Brewing Company,1210482672,5.0,4.0,5.0,MetalDragon7g,American Pale Wheat Ale,5.0,4.5,8.0,37672

In [110]:
len(beer)

1586614



## Aplicar filtros

Aplicar filtros sobre los datos es muy útil de cara a conocer como se distribuyen nuestros datos y con ello realizar transformaciones sobre los mismos



Para aplicar un filtro tenemos que establecer una condición sobre los datos

nombre_cerveza
! (Old Ale)                   False
"100"                         False
"100"                         False
"100"                         False
"100"                         False
                              ...
Ω-naught (Omeganaught)        False
Ω-naught (Omeganaught)        False
“Chewy” Double IPA            False
横須賀ビアサケ (Yokosuka Biasake)    False
葉山ビール (Hayama Beer)           False
Name: overall_resena, Length: 1586614, dtype: bool

In [112]:
beer.index[0]

'! (Old Ale)'

In [117]:
beer.loc[ beer['overall_resena'] > 4.5, ["overall_resena", "estilo_cerveza"] ]

,overall_resena,estilo_cerveza
nombre_cerveza,,
"""Best Of Both Worlds"" Stout",5.0,American Stout
"""Hop Obama"" Ale",5.0,American Amber / Red Ale
"""Hop Obama"" Ale",5.0,American Amber / Red Ale
"""Hop Obama"" Ale",5.0,American Amber / Red Ale
"""Old Yeltsin"" Imperial Stout",5.0,Russian Imperial Stout
...,...,...
ÜberSun (Imperial Summer Wheat Beer),5.0,American Pale Wheat Ale
ÜberSun (Imperial Summer Wheat Beer),5.0,American Pale Wheat Ale
ÜberSun (Imperial Summer Wheat Beer),5.0,American Pale Wheat Ale
ÜberSun (Imperial Summer Wheat Beer),5.0,American Pale Wheat Ale
Überschwein (Unfiltered Double Dry Hopped Hog Heaven),5.0,American Barleywine



Se pueden aplicar varios condiciones simultáneamente

In [118]:
beer[(beer['overall_resena'] > 4.5) & (beer['estilo_cerveza'] == "American Stout")]

,id_cervecera,nombre_cervecera,tiempo_resena,overall_resena,aroma_resena,aparencia_resena,perfil_resena,estilo_cerveza,palate_resena,sabor_resena,alcohol,id_cerveza
nombre_cerveza,,,,,,,,,,,,
"""Best Of Both Worlds"" Stout",16186,Triangle Brewing Company,1239109365,5.0,4.5,4.5,ncstateplaya,American Stout,3.5,5.0,NaN,49011
2 Sisters Stout,225,Amherst Brewing Co.,1108793071,5.0,4.0,4.0,RonfromJersey,American Stout,4.0,4.0,6.60,7882
6288 Stout,624,Tuckerman Brewing Co.,1203292040,5.0,4.5,4.5,RunawayJim,American Stout,4.0,4.5,5.90,36034
7 Year Itch Cherry Vanilla Stout,1483,Springfield Brewing Company,1110829686,5.0,4.5,4.5,karst,American Stout,4.5,4.5,NaN,22522
A. Strange Stout,3972,A1A Aleworks,1160344989,5.0,5.0,4.0,fairway31533,American Stout,5.0,5.0,5.57,10972
...,...,...,...,...,...,...,...,...,...,...,...,...
Wild Dog Coffee Stout,68,Flying Dog Brewery,1324926841,5.0,5.0,5.0,guitaristshad,American Stout,5.0,5.0,8.00,60958
Wildcatter's Crude Stout,2,Yellow Rose Brewing Company,1051281122,5.0,4.5,5.0,AtrumAnimus,American Stout,5.0,5.0,NaN,4
Willimantic Pony Espresso Stout,477,Willimantic Brewing Co.,1276747083,5.0,5.0,4.0,Damian,American Stout,4.5,5.0,5.80,9841
Willimantic Pony Espresso Stout,477,Willimantic Brewing Co.,1241693477,5.0,4.5,4.0,erosier,American Stout,5.0,4.5,5.80,9841
Willimantic Pony Espresso Stout,477,Willimantic Brewing Co.,1061920402,5.0,4.0,5.0,UnionMade,American Stout,5.0,4.5,5.80,9841

Que pasaria si quisieramos ver todos los estilo de cerveza que hay

In [119]:
beer.estilo_cerveza.value_counts()

American IPA                        117586
American Double / Imperial IPA       85977
American Pale Ale (APA)              63469
Russian Imperial Stout               54129
American Double / Imperial Stout     50705
                                     ...
Gose                                   686
Faro                                   609
Roggenbier                             466
Kvass                                  297
Happoshu                               241
Name: estilo_cerveza, Length: 104, dtype: int64

In [120]:
5 in [5,6,7]

True



Para evitar tener que agrupar varios filtros usamos .isin()

In [121]:
beer[(beer['overall_resena'] > 4.5) & (beer['estilo_cerveza'].isin(["American Stout", "American Amber / Red Ale"]))]

,id_cervecera,nombre_cervecera,tiempo_resena,overall_resena,aroma_resena,aparencia_resena,perfil_resena,estilo_cerveza,palate_resena,sabor_resena,alcohol,id_cerveza
nombre_cerveza,,,,,,,,,,,,
"""Best Of Both Worlds"" Stout",16186,Triangle Brewing Company,1239109365,5.0,4.5,4.5,ncstateplaya,American Stout,3.5,5.0,NaN,49011
"""Hop Obama"" Ale",10607,Sixpoint Brewery,1217463790,5.0,4.0,5.0,Biggness,American Amber / Red Ale,4.0,4.5,5.2,41650
"""Hop Obama"" Ale",10607,Sixpoint Brewery,1226103287,5.0,4.0,3.0,zapata,American Amber / Red Ale,4.0,5.0,5.2,41650
"""Hop Obama"" Ale",10607,Sixpoint Brewery,1226639999,5.0,4.0,3.5,tedstertm,American Amber / Red Ale,3.5,4.0,5.2,41650
100 Meter Ale,11835,Eugene City Brewery,1217783880,5.0,4.0,4.5,ralree,American Amber / Red Ale,4.0,4.5,NaN,38765
...,...,...,...,...,...,...,...,...,...,...,...,...
Zoe,20681,Maine Beer Company,1292547405,5.0,4.5,3.0,ATPete,American Amber / Red Ale,5.0,4.0,7.2,54522
Zoe,20681,Maine Beer Company,1275700773,5.0,4.5,5.0,GbVDave,American Amber / Red Ale,5.0,4.5,7.2,54522
Zoe,20681,Maine Beer Company,1318637216,5.0,4.0,4.5,Amalak,American Amber / Red Ale,4.0,4.5,7.2,54522
Zoe,20681,Maine Beer Company,1284074037,5.0,4.5,4.5,dpalaci6,American Amber / Red Ale,4.5,4.5,7.2,54522
Zoe,20681,Maine Beer Company,1316487197,5.0,5.0,4.5,DrewShal9,American Amber / Red Ale,4.5,5.0,7.2,54522



Tambien es posible usar el método `between`

In [122]:
beer[ beer['overall_resena'].between(1.5,3)]

,id_cervecera,nombre_cervecera,tiempo_resena,overall_resena,aroma_resena,aparencia_resena,perfil_resena,estilo_cerveza,palate_resena,sabor_resena,alcohol,id_cerveza
nombre_cerveza,,,,,,,,,,,,
"""33"" Export",13640,Baltika-Baku,1169652515,3.0,3.0,3.0,BEERchitect,Dortmunder / Export Lager,3.0,3.5,4.8,30080
"""33"" Export",13640,Baltika-Baku,1286418103,3.0,3.5,3.0,TheKingofWichita,Dortmunder / Export Lager,3.5,3.0,4.8,30080
"""33"" Export",13640,Baltika-Baku,1145713783,3.0,2.5,3.0,Globetrotter,Dortmunder / Export Lager,3.0,2.5,4.8,30080
"""400"" Ale",14952,Williamsburg AleWerks,1238372139,2.0,3.0,4.0,ocelot2500,American Brown Ale,3.0,1.5,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1221704579,3.0,4.0,4.0,jwc215,American Brown Ale,2.5,3.5,NaN,36909
...,...,...,...,...,...,...,...,...,...,...,...,...
Łask Žywe Niefiltrowane,27429,Browar Koreb,1323436924,3.0,3.0,3.0,stcules,Keller Bier / Zwickel Bier,2.5,3.0,NaN,76129
Świąteczne,24132,Browar Kormoran,1325627856,2.0,5.0,4.5,rvdoorn,Herbed / Spiced Beer,3.0,2.0,6.1,77034
Švyturys Nefiltruotas Raw,9374,UAB Švyturys,1283015849,2.5,3.0,2.0,atis,Keller Bier / Zwickel Bier,3.0,2.5,5.2,61440
Švyturys Nefiltruotas Raw,9374,UAB Švyturys,1322154060,3.0,3.0,3.0,woodychandler,Keller Bier / Zwickel Bier,3.0,3.0,5.2,61440
“Chewy” Double IPA,7302,The Bobcat Café & Brewery,1311104066,2.5,2.0,4.0,Kegatron,American IPA,3.5,2.5,6.9,71197

In [22]:
beer[beer['overall_resena'].between(1.5,3)]

,id_cervecera,nombre_cervecera,tiempo_resena,overall_resena,aroma_resena,aparencia_resena,perfil_resena,estilo_cerveza,palate_resena,sabor_resena,alcohol,id_cerveza
nombre_cerveza,,,,,,,,,,,,
"""33"" Export",13640,Baltika-Baku,1169652515,3.0,3.0,3.0,BEERchitect,Dortmunder / Export Lager,3.0,3.5,4.8,30080
"""33"" Export",13640,Baltika-Baku,1286418103,3.0,3.5,3.0,TheKingofWichita,Dortmunder / Export Lager,3.5,3.0,4.8,30080
"""33"" Export",13640,Baltika-Baku,1145713783,3.0,2.5,3.0,Globetrotter,Dortmunder / Export Lager,3.0,2.5,4.8,30080
"""400"" Ale",14952,Williamsburg AleWerks,1238372139,2.0,3.0,4.0,ocelot2500,American Brown Ale,3.0,1.5,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1221704579,3.0,4.0,4.0,jwc215,American Brown Ale,2.5,3.5,NaN,36909
...,...,...,...,...,...,...,...,...,...,...,...,...
Łask Žywe Niefiltrowane,27429,Browar Koreb,1323436924,3.0,3.0,3.0,stcules,Keller Bier / Zwickel Bier,2.5,3.0,NaN,76129
Świąteczne,24132,Browar Kormoran,1325627856,2.0,5.0,4.5,rvdoorn,Herbed / Spiced Beer,3.0,2.0,6.1,77034
Švyturys Nefiltruotas Raw,9374,UAB Švyturys,1283015849,2.5,3.0,2.0,atis,Keller Bier / Zwickel Bier,3.0,2.5,5.2,61440
Švyturys Nefiltruotas Raw,9374,UAB Švyturys,1322154060,3.0,3.0,3.0,woodychandler,Keller Bier / Zwickel Bier,3.0,3.0,5.2,61440
“Chewy” Double IPA,7302,The Bobcat Café & Brewery,1311104066,2.5,2.0,4.0,Kegatron,American IPA,3.5,2.5,6.9,71197



Hasta ahora hemos visto como realizar filtros sobre el contenido, pero si queremos seleccionar por filas es necesario recurrir a los métodos `.iloc[], .loc[], .ix[]`

Recordamos que .iloc[] realiza la selección de registros por el índice numérico, .loc[] a través de la etiqueta del índice e .ix[] permite el uso tanto de etiquetas como de valores numéricos, sin embargo, no se recomienda su uso ya que se encuentra deprecado desde la versión 0.20.0 de Pandas.

Veamos algunos ejemplos de selección de registros con .iloc[] y .loc[]



Selección de un registro

In [23]:
beer.iloc[3]

id_cervecera                                 13338
nombre_cervecera    The Covey Restaurant & Brewery
tiempo_resena                           1244599785
overall_resena                                   4
aroma_resena                                     4
aparencia_resena                                 4
perfil_resena                            weeare138
estilo_cerveza                    Belgian Dark Ale
palate_resena                                    4
sabor_resena                                   4.5
alcohol                                         10
id_cerveza                                   49236
Name: "100", dtype: object



Selección mediante intervalo

In [24]:
beer.iloc[3:6]

,id_cervecera,nombre_cervecera,tiempo_resena,overall_resena,aroma_resena,aparencia_resena,perfil_resena,estilo_cerveza,palate_resena,sabor_resena,alcohol,id_cerveza
nombre_cerveza,,,,,,,,,,,,
"""100""",13338,The Covey Restaurant & Brewery,1244599785,4.0,4.0,4.0,weeare138,Belgian Dark Ale,4.0,4.5,10.0,49236
"""100""",13338,The Covey Restaurant & Brewery,1264459856,4.0,4.0,4.0,Mora2000,Belgian Dark Ale,4.0,4.5,10.0,49236
"""100""",13338,The Covey Restaurant & Brewery,1282539710,4.0,4.5,4.0,GregSVT,Belgian Dark Ale,3.5,4.5,10.0,49236



Selección mediante una lista

In [25]:
beer.iloc[[3,7,9]]

,id_cervecera,nombre_cervecera,tiempo_resena,overall_resena,aroma_resena,aparencia_resena,perfil_resena,estilo_cerveza,palate_resena,sabor_resena,alcohol,id_cerveza
nombre_cerveza,,,,,,,,,,,,
"""100""",13338,The Covey Restaurant & Brewery,1244599785,4.0,4.0,4.0,weeare138,Belgian Dark Ale,4.0,4.5,10.0,49236
"""12"" Belgian Golden Strong Ale",612,Flossmoor Station Restaurant & Brewery,1272240368,4.0,3.5,4.0,cpetrone84,Belgian Strong Pale Ale,4.5,4.5,9.0,44353
"""33"" Export",13640,Baltika-Baku,1169652515,3.0,3.0,3.0,BEERchitect,Dortmunder / Export Lager,3.0,3.5,4.8,30080



Selección de un registro y un único campo

In [26]:
beer.iloc[3, 1]

'The Covey Restaurant & Brewery'



Selección de varios registros y varios campos

In [27]:
beer.iloc[[3,9,18], [1,4,5]]

                              nombre_cervecera  aroma_resena  aparencia_resena
nombre_cerveza
"100"           The Covey Restaurant & Brewery           4.0               4.0
"33" Export                       Baltika-Baku           3.0               3.0
"400" Ale                Williamsburg AleWerks           5.0               4.0



Para poder usar el método .loc[] necesitamos que el dataframe tenga un índice con etiquetas

In [28]:
beer.loc['"400" Ale']

,id_cervecera,nombre_cervecera,tiempo_resena,overall_resena,aroma_resena,aparencia_resena,perfil_resena,estilo_cerveza,palate_resena,sabor_resena,alcohol,id_cerveza
nombre_cerveza,,,,,,,,,,,,
"""400"" Ale",14952,Williamsburg AleWerks,1198457513,4.0,3.5,3.0,lackenhauser,American Brown Ale,4.0,4.0,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1238372139,2.0,3.0,4.0,ocelot2500,American Brown Ale,3.0,1.5,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1197866769,3.5,4.0,4.0,ChainGangGuy,American Brown Ale,4.0,3.5,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1179623551,4.0,4.5,4.0,SwillBilly,American Brown Ale,4.0,4.0,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1187465853,4.5,5.0,4.0,oelergud,American Brown Ale,4.5,4.5,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1187492843,4.5,4.5,4.5,FenwaySquid,American Brown Ale,4.0,5.0,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1221704579,3.0,4.0,4.0,jwc215,American Brown Ale,2.5,3.5,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1188675842,4.5,4.0,3.5,Gavage,American Brown Ale,4.5,4.0,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1195343868,4.5,3.5,4.0,Bierman9,American Brown Ale,4.5,4.5,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1199499378,3.0,4.0,4.0,MaltyGoodness,American Brown Ale,4.0,3.5,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1201232417,4.0,3.5,4.0,tfuchs,American Brown Ale,3.5,4.5,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1204484853,4.0,3.5,3.5,guinnessfan,American Brown Ale,3.5,4.0,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1205114356,3.5,3.5,4.0,Traquairlover,American Brown Ale,4.5,3.5,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1214013456,1.0,4.0,4.0,ArrogantB,American Brown Ale,3.0,1.0,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1219627336,2.5,3.5,4.0,blackie,American Brown Ale,3.5,2.5,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1221015574,1.0,4.0,4.0,Beerbuddha,American Brown Ale,3.0,1.0,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1187531776,3.5,3.5,4.0,WesWes,American Brown Ale,4.0,3.5,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1180576608,3.0,3.5,4.0,HugoGrim,American Brown Ale,3.5,4.0,NaN,36909



Selección de varios registro

In [29]:
beer.loc[['"400" Ale', 'Świąteczne']]

,id_cervecera,nombre_cervecera,tiempo_resena,overall_resena,aroma_resena,aparencia_resena,perfil_resena,estilo_cerveza,palate_resena,sabor_resena,alcohol,id_cerveza
nombre_cerveza,,,,,,,,,,,,
"""400"" Ale",14952,Williamsburg AleWerks,1198457513,4.0,3.5,3.0,lackenhauser,American Brown Ale,4.0,4.0,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1238372139,2.0,3.0,4.0,ocelot2500,American Brown Ale,3.0,1.5,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1197866769,3.5,4.0,4.0,ChainGangGuy,American Brown Ale,4.0,3.5,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1179623551,4.0,4.5,4.0,SwillBilly,American Brown Ale,4.0,4.0,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1187465853,4.5,5.0,4.0,oelergud,American Brown Ale,4.5,4.5,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1187492843,4.5,4.5,4.5,FenwaySquid,American Brown Ale,4.0,5.0,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1221704579,3.0,4.0,4.0,jwc215,American Brown Ale,2.5,3.5,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1188675842,4.5,4.0,3.5,Gavage,American Brown Ale,4.5,4.0,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1195343868,4.5,3.5,4.0,Bierman9,American Brown Ale,4.5,4.5,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1199499378,3.0,4.0,4.0,MaltyGoodness,American Brown Ale,4.0,3.5,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1201232417,4.0,3.5,4.0,tfuchs,American Brown Ale,3.5,4.5,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1204484853,4.0,3.5,3.5,guinnessfan,American Brown Ale,3.5,4.0,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1205114356,3.5,3.5,4.0,Traquairlover,American Brown Ale,4.5,3.5,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1214013456,1.0,4.0,4.0,ArrogantB,American Brown Ale,3.0,1.0,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1219627336,2.5,3.5,4.0,blackie,American Brown Ale,3.5,2.5,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1221015574,1.0,4.0,4.0,Beerbuddha,American Brown Ale,3.0,1.0,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1187531776,3.5,3.5,4.0,WesWes,American Brown Ale,4.0,3.5,NaN,36909
"""400"" Ale",14952,Williamsburg AleWerks,1180576608,3.0,3.5,4.0,HugoGrim,American Brown Ale,3.5,4.0,NaN,36909
Świąteczne,24132,Browar Kormoran,1325627856,2.0,5.0,4.5,rvdoorn,Herbed / Spiced Beer,3.0,2.0,6.1,77034



Selección de varios registros y varias columnas

In [30]:
beer.loc[['"400" Ale', 'Świąteczne'], ["overall_resena", "aroma_resena",	"aparencia_resena" ]]

                overall_resena  aroma_resena  aparencia_resena
nombre_cerveza
"400" Ale                  4.0           3.5               3.0
"400" Ale                  2.0           3.0               4.0
"400" Ale                  3.5           4.0               4.0
"400" Ale                  4.0           4.5               4.0
"400" Ale                  4.5           5.0               4.0
"400" Ale                  4.5           4.5               4.5
"400" Ale                  3.0           4.0               4.0
"400" Ale                  4.5           4.0               3.5
"400" Ale                  4.5           3.5               4.0
"400" Ale                  3.0           4.0               4.0
"400" Ale                  4.0           3.5               4.0
"400" Ale                  4.0           3.5               3.5
"400" Ale                  3.5           3.5               4.0
"400" Ale                  1.0           4.0               4.0
"400" Ale                  2.5           3.5               4.0
"400" Ale                  1.0           4.0               4.0
"400" Ale                  3.5           3.5               4.0
"400" Ale                  3.0           3.5               4.0
Świąteczne                 2.0           5.0               4.5

In [31]:
beer.loc[beer.overall_resena > 3, ["overall_resena", "aroma_resena",	"aparencia_resena" ]]

                            overall_resena  aroma_resena  aparencia_resena
nombre_cerveza
! (Old Ale)                            4.0           4.5               4.0
"100"                                  4.0           3.5               4.0
"100"                                  4.0           4.0               4.0
"100"                                  4.0           4.0               4.0
"100"                                  4.0           4.0               4.0
...                                    ...           ...               ...
Ω-naught (Omeganaught)                 4.0           3.5               4.0
Ω-naught (Omeganaught)                 4.0           4.0               4.0
Ω-naught (Omeganaught)                 4.5           4.5               4.0
横須賀ビアサケ (Yokosuka Biasake)             4.0           3.5               3.0
葉山ビール (Hayama Beer)                    4.0           3.0               3.0

[1300286 rows x 3 columns]



## Añadir/eliminar registros y/o columnas

En ocasiones es necesario eliminar registros o columnas que no son necesarios, veamos como hacerlo.



Borrado de un único registro por etiqueta

In [32]:
print('Numero de resenas','\n')
print(beer.shape[0],'\n')
beer.drop('"400" Ale',inplace=True)
print('Numero de resenas despues de borrado','\n')
print(beer.shape[0],'\n')

Numero de resenas

1586614

Numero de resenas despues de borrado

1586596



Es posible eliminar una columna entera indicando su nombre y el eje correspondiente (axis=1)



Eliminamos la columna 'Generation'

In [33]:
beer.drop('tiempo_resena',axis=1,inplace=True)
beer.head()

,id_cervecera,nombre_cervecera,overall_resena,aroma_resena,aparencia_resena,perfil_resena,estilo_cerveza,palate_resena,sabor_resena,alcohol,id_cerveza
nombre_cerveza,,,,,,,,,,,
! (Old Ale),10902,Närke Kulturbryggeri AB,4.0,4.5,4.0,tpd975,Old Ale,4.0,4.5,8.2,57645
"""100""",13338,The Covey Restaurant & Brewery,4.0,3.5,4.0,hiikeeba,Belgian Dark Ale,4.0,4.5,10.0,49236
"""100""",13338,The Covey Restaurant & Brewery,4.0,4.0,4.0,hopdog,Belgian Dark Ale,4.5,4.0,10.0,49236
"""100""",13338,The Covey Restaurant & Brewery,4.0,4.0,4.0,weeare138,Belgian Dark Ale,4.0,4.5,10.0,49236
"""100""",13338,The Covey Restaurant & Brewery,4.0,4.0,4.0,Mora2000,Belgian Dark Ale,4.0,4.5,10.0,49236

## Agregar columna



Para agregar una nueva columna haremos una asignación de un contenido a una columna que no exista



Creamos una nueva columna 'Level'

In [34]:
beer['sabor_resena_modidicado'] = beer['sabor_resena'] / 2
beer.head()

,id_cervecera,nombre_cervecera,overall_resena,aroma_resena,aparencia_resena,perfil_resena,estilo_cerveza,palate_resena,sabor_resena,alcohol,id_cerveza,sabor_resena_modidicado
nombre_cerveza,,,,,,,,,,,,
! (Old Ale),10902,Närke Kulturbryggeri AB,4.0,4.5,4.0,tpd975,Old Ale,4.0,4.5,8.2,57645,2.25
"""100""",13338,The Covey Restaurant & Brewery,4.0,3.5,4.0,hiikeeba,Belgian Dark Ale,4.0,4.5,10.0,49236,2.25
"""100""",13338,The Covey Restaurant & Brewery,4.0,4.0,4.0,hopdog,Belgian Dark Ale,4.5,4.0,10.0,49236,2.00
"""100""",13338,The Covey Restaurant & Brewery,4.0,4.0,4.0,weeare138,Belgian Dark Ale,4.0,4.5,10.0,49236,2.25
"""100""",13338,The Covey Restaurant & Brewery,4.0,4.0,4.0,Mora2000,Belgian Dark Ale,4.0,4.5,10.0,49236,2.25



Si queremos añadir algún registro nuevo, tenemos que proporcinar la información para las columnas.



Creamos la información de la nueva cerveza

In [35]:
data = {'overall_resena': ['2'],
        'aroma_resena': ['2.4'],
        'aparencia_resena': ['2'],
        'palate_resena': ['2'],
        'estilo_cerveza': ["Old Ale"]}

nueva_cerveza = pd.DataFrame(data, index=["Corona"])
nueva_cerveza

,overall_resena,aroma_resena,aparencia_resena,palate_resena,estilo_cerveza
Corona,2,2.4,2,2,Old Ale



Añadimos el nuevo registro

In [36]:
beer = beer.append(nueva_cerveza)
beer[beer.index =='Corona']

,id_cervecera,nombre_cervecera,overall_resena,aroma_resena,aparencia_resena,perfil_resena,estilo_cerveza,palate_resena,sabor_resena,alcohol,id_cerveza,sabor_resena_modidicado
Corona,NaN,NaN,2,2.4,2,NaN,Old Ale,2,NaN,NaN,NaN,NaN



## Editar información

In [37]:
beer["promedio_resena"] = (beer.aroma_resena + beer.aparencia_resena + beer.palate_resena + beer.sabor_resena) / 4

In [38]:
beer.promedio_resena

! (Old Ale)                    4.25
"100"                             4
"100"                         4.125
"100"                         4.125
"100"                         4.125
                              ...
Ω-naught (Omeganaught)            4
“Chewy” Double IPA                3
横須賀ビアサケ (Yokosuka Biasake)    3.375
葉山ビール (Hayama Beer)           3.375
Corona                          NaN
Name: promedio_resena, Length: 1586597, dtype: object

### Ejercicios

1. Cuente cuantos estilos de cerveza hay
2. Determine cuáles son los 5 estilos más cómunes
3. Cuántas cervezas tienen 5 de calificación en cada una de las categorias

## Operaciones
Uno puede utilizar las mismas operaciones que en numpy para poder usar operaciones

In [ ]:
beer.dtypes()

In [ ]:
beer['overall_resena'] = pd.to_numeric(beer.overall_resena)

In [123]:
beer.overall_resena.mean()

3.8155808533140387

In [124]:
beer.overall_resena.min()

0.0

In [125]:
beer.overall_resena.max()

5.0

Como cambiariamos para todas las columnas que son score

In [129]:
beer.columns

Index(['id_cervecera', 'nombre_cervecera', 'tiempo_resena', 'overall_resena',
       'aroma_resena', 'aparencia_resena', 'perfil_resena', 'estilo_cerveza',
       'palate_resena', 'sabor_resena', 'alcohol', 'id_cerveza'],
      dtype='object')

In [130]:
for col in ['overall_resena', 'aroma_resena',
       'aparencia_resena','palate_resena',
       'sabor_resena', 'alcohol']:
    beer[col] = pd.to_numeric(beer[col])

In [132]:
beer[['overall_resena', 'aroma_resena',
       'aparencia_resena','palate_resena',
       'sabor_resena', 'alcohol']].corr()

,overall_resena,aroma_resena,aparencia_resena,palate_resena,sabor_resena,alcohol
overall_resena,1.000000,0.616013,0.501732,0.701914,0.789816,0.138512
aroma_resena,0.616013,1.000000,0.561029,0.616947,0.716776,0.332570
aparencia_resena,0.501732,0.561029,1.000000,0.566634,0.546980,0.263941
palate_resena,0.701914,0.616947,0.566634,1.000000,0.734135,0.286711
sabor_resena,0.789816,0.716776,0.546980,0.734135,1.000000,0.290827
alcohol,0.138512,0.332570,0.263941,0.286711,0.290827,1.000000

Extra: bonita grafica

In [134]:
corr = beer[['overall_resena', 'aroma_resena',
       'aparencia_resena','palate_resena',
       'sabor_resena', 'alcohol']].corr()
corr.style.background_gradient(cmap='coolwarm')



## Modificar la estructura de los datos



### Pivot, stack/unstack, melt

Existen varias métodos que nos permiten transformar la estructura de las tablas, haciendo agrupaciones de datos, trasladando índices de columnas a filas y agrupando varias columnas en otras nuevas. Estos son los métodos pivot, stack/unstack y melt.



La función **pivot** se usa para crear una nueva tabla derivada a partir de otra.



Creamos un dataframe ejemplo

In [39]:
table = OrderedDict((
    ("Item", ['Item0', 'Item0', 'Item1', 'Item1']),
    ('CType',['Gold', 'Bronze', 'Gold', 'Silver']),
    ('USD',  ['1$', '2$', '3$', '4$']),
    ('EU',   ['1€', '2€', '3€', '4€'])
))
d = pd.DataFrame(table)

In [40]:
d

    Item   CType USD  EU
0  Item0    Gold  1$  1€
1  Item0  Bronze  2$  2€
2  Item1    Gold  3$  3€
3  Item1  Silver  4$  4€



Creamos la pivot-table

In [41]:
p = d.pivot(index='Item', columns='CType', values='USD')
p

CType Bronze Gold Silver
Item
Item0     2$   1$    NaN
Item1    NaN   3$     4$



Hacer **stack** en un Dataframe significa mover la columna más interna (rotando el dataframe) para convertirla en el índice de fila más interno.



Generamos un dataframe con varios índices tanto a nivel de columna como de fila

In [42]:
row_idx_arr = list(zip(['r0', 'r0'], ['r-00', 'r-01']))
row_idx = pd.MultiIndex.from_tuples(row_idx_arr)


col_idx_arr = list(zip(['c0', 'c0', 'c1'], ['c-00', 'c-01', 'c-10']))
col_idx = pd.MultiIndex.from_tuples(col_idx_arr)


d = pd.DataFrame(np.arange(6).reshape(2,3), index=row_idx, columns=col_idx)
d = d.applymap(lambda x: (x // 3, x % 3))
d

             c0              c1
           c-00    c-01    c-10
r0 r-00  (0, 0)  (0, 1)  (0, 2)
   r-01  (1, 0)  (1, 1)  (1, 2)



Al hacer stack del DF estamos moviendo la columna más interior hasta el índice de las filas

In [43]:
s = d.stack()
s

                  c0      c1
r0 r-00 c-00  (0, 0)     NaN
        c-01  (0, 1)     NaN
        c-10     NaN  (0, 2)
   r-01 c-00  (1, 0)     NaN
        c-01  (1, 1)     NaN
        c-10     NaN  (1, 2)



Podemos deshacer la operación mediante unstack

In [44]:
u = d.unstack()
u

        c0                              c1
      c-00            c-01            c-10
      r-00    r-01    r-00    r-01    r-00    r-01
r0  (0, 0)  (1, 0)  (0, 1)  (1, 1)  (0, 2)  (1, 2)



Por último tenemos la operación **melt**, que nos permite realizar la agrupación de varias columnas relacionadas en una nueva.



Creamos un dataframe

In [45]:
data = {'weekday': ["Monday", "Tuesday", "Wednesday", 
         "Thursday", "Friday", "Saturday", "Sunday"],
        'Person 1': [12, 6, 5, 8, 11, 6, 4],
        'Person 2': [10, 6, 11, 5, 8, 9, 12],
        'Person 3': [8, 5, 7, 3, 7, 11, 15]}
df = pd.DataFrame(data, columns=['weekday',
        'Person 1', 'Person 2', 'Person 3'])

In [46]:
df

     weekday  Person 1  Person 2  Person 3
0     Monday        12        10         8
1    Tuesday         6         6         5
2  Wednesday         5        11         7
3   Thursday         8         5         3
4     Friday        11         8         7
5   Saturday         6         9        11
6     Sunday         4        12        15



Realizamos la agrupación por día de la semana y por la nueva variable persona.

In [47]:
melted = pd.melt(df, id_vars=["weekday"], 
                 var_name="Person", value_name="Score")

In [48]:
melted

      weekday    Person  Score
0      Monday  Person 1     12
1     Tuesday  Person 1      6
2   Wednesday  Person 1      5
3    Thursday  Person 1      8
4      Friday  Person 1     11
5    Saturday  Person 1      6
6      Sunday  Person 1      4
7      Monday  Person 2     10
8     Tuesday  Person 2      6
9   Wednesday  Person 2     11
10   Thursday  Person 2      5
11     Friday  Person 2      8
12   Saturday  Person 2      9
13     Sunday  Person 2     12
14     Monday  Person 3      8
15    Tuesday  Person 3      5
16  Wednesday  Person 3      7
17   Thursday  Person 3      3
18     Friday  Person 3      7
19   Saturday  Person 3     11
20     Sunday  Person 3     15



# Ejercicios



## Ejercicio 1 

Dado el dataframe de cervezas

1. Genere una tabla que tome el para cada cervercera y estilo de cerveza, el promedio del puntaje general que se le dió
2. Quién es la cervecera con mejor puntaje en promedio para para Old Ale
3. Cuántas cervezeras tienen un puntaje menor a 1.5 para American IPA
4. Cual es la casa cervercera con con puntajes más bajos en promedio

## Agrupaciones group by

In [49]:
beer.columns

Index(['id_cervecera', 'nombre_cervecera', 'overall_resena', 'aroma_resena',
       'aparencia_resena', 'perfil_resena', 'estilo_cerveza', 'palate_resena',
       'sabor_resena', 'alcohol', 'id_cerveza', 'sabor_resena_modidicado',
       'promedio_resena'],
      dtype='object')

In [50]:
grouped_estilo = beer.groupby(by='estilo_cerveza')
grouped_estilo

Números de elementos de cada grupo

In [51]:
grouped_estilo.size()

estilo_cerveza
Altbier                        7741
American Adjunct Lager        30749
American Amber / Red Ale      45751
American Amber / Red Lager     9311
American Barleywine           26728
                              ...
Vienna Lager                   8954
Weizenbock                     9412
Wheatwine                      3714
Winter Warmer                 20661
Witbier                       30140
Length: 104, dtype: int64

Devuelve el primer elemento de cada grupo

In [52]:
grouped_estilo.first()

,id_cervecera,nombre_cervecera,overall_resena,aroma_resena,aparencia_resena,perfil_resena,palate_resena,sabor_resena,alcohol,id_cerveza,sabor_resena_modidicado,promedio_resena
estilo_cerveza,,,,,,,,,,,,
Altbier,747.0,General Lafayette Inn & Brewery,3.5,4.0,3.5,NeroFiddled,4.0,4.5,6.80,11271.0,2.25,4.000
American Adjunct Lager,417.0,August Schell Brewing Company,4.0,3.5,3.5,mdwalsh,3.5,4.0,5.91,49214.0,2.00,3.625
American Amber / Red Ale,10607.0,Sixpoint Brewery,4.0,3.5,4.5,DrDogbeer,4.0,4.0,5.20,41650.0,2.00,4.000
American Amber / Red Lager,782.0,"City Brewing Company, LLC",2.5,2.5,2.5,KarlHungus,3.0,2.5,4.50,45953.0,1.25,2.625
American Barleywine,23684.0,Squam Brewing,4.0,4.5,3.5,puboflyons,4.0,4.0,10.00,76653.0,2.00,4.000
...,...,...,...,...,...,...,...,...,...,...,...,...
Vienna Lager,12166.0,"Pennichuck Brewing Company, Inc.",4.0,3.5,3.5,plaid75,4.0,4.0,5.00,31511.0,2.00,3.750
Weizenbock,22200.0,Wormtown Brewing Co.,4.5,4.0,3.5,jlindros,4.0,4.0,8.20,71484.0,2.00,3.875
Wheatwine,1169.0,Fitger's Brewhouse,4.5,4.5,4.0,ADR,4.5,4.5,11.50,22078.0,2.25,4.375
Winter Warmer,12516.0,Thirsty Dog Brewing Company,3.0,3.5,3.5,JRed,3.0,3.0,8.30,45992.0,1.50,3.250
Witbier,2200.0,Mogollon Brewing Company,3.5,3.5,3.0,beerguy101,4.0,4.0,5.00,6839.0,2.00,3.625

Una vez realizada la agrupación que nos interesa podemos aplicar una transformación sobre alguna de las variables restantes.

En este caso calculamos la media del año por sexo

In [53]:
a = beer.groupby('estilo_cerveza')['overall_resena'].mean()
print(a)

DataError: No numeric types to aggregate

In [54]:
beer.dtypes

id_cervecera               float64
nombre_cervecera            object
overall_resena              object
aroma_resena                object
aparencia_resena            object
perfil_resena               object
estilo_cerveza              object
palate_resena               object
sabor_resena               float64
alcohol                    float64
id_cerveza                 float64
sabor_resena_modidicado    float64
promedio_resena             object
dtype: object

In [55]:
beer['overall_resena'] = pd.to_numeric(beer.overall_resena)

In [56]:
a = beer.groupby('estilo_cerveza')['overall_resena'].mean()
print(a)

estilo_cerveza
Altbier                       3.824054
American Adjunct Lager        3.001659
American Amber / Red Ale      3.781010
American Amber / Red Lager    3.564601
American Barleywine           3.896756
                                ...
Vienna Lager                  3.762564
Weizenbock                    4.007969
Wheatwine                     3.815563
Winter Warmer                 3.703935
Witbier                       3.776891
Name: overall_resena, Length: 104, dtype: float64

También se pueden agrupar los datos respecto a más de una columna. El resultado son tuplas anidadas, por ejemplo:

In [57]:
a = beer.groupby(['estilo_cerveza', "nombre_cervecera"])['overall_resena'].mean()
print(a)

estilo_cerveza  nombre_cervecera
Altbier         (512) Brewing Company     4.090909
                1516 Brewing Company      5.000000
                21st Amendment Brewery    3.000000
                3 Ravens Brewing          3.703704
                AMB - Maître Brasseur     3.500000
                                            ...
Witbier         Zerodegrees Cardiff       2.000000
                À La Fût                  3.000000
                À l’abri de la Tempête    4.250000
                Ölvisholt Brugghús        3.000000
                Ørbæk Bryggeri            3.833333
Name: overall_resena, Length: 42771, dtype: float64

Otra opción para trabajar con datos agrupados en Pandas es utilizar la función agg(), que nos permite aplicar varias funciones sobre una agrupación.

In [58]:
a = beer.groupby(['estilo_cerveza', "nombre_cervecera"])['overall_resena'].agg(["mean", "count"])
print(a)

                                           mean  count
estilo_cerveza nombre_cervecera
Altbier        (512) Brewing Company   4.090909     11
               1516 Brewing Company    5.000000      1
               21st Amendment Brewery  3.000000      1
               3 Ravens Brewing        3.703704     27
               AMB - Maître Brasseur   3.500000     10
...                                         ...    ...
Witbier        Zerodegrees Cardiff     2.000000      1
               À La Fût                3.000000      1
               À l’abri de la Tempête  4.250000      4
               Ölvisholt Brugghús      3.000000      1
               Ørbæk Bryggeri          3.833333      3

[42771 rows x 2 columns]

Ejercicios

1. ¿Cuáles son los top 5 estilos de cerveza?
2. ¿Cuál son las peores 5 casas cervezeras?
3. ¿Cuál casa cervezera tienen mayor variabilidad en su puntaje?